@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {

    text-decoration: none;

}

html, body {

    margin: 0;
    padding: 0;

    background-color: #212121;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

#container {

    margin: 20px;
    text-align: center;

    a {

        color: white;
        transition: .5s;

    }

    a:hover {

        color: lightblue;

    }

    #langsandtools {

        .langortool {

            margin: 0 3px;
            display: inline-block;

            img {

                height: 30px;
                transition: .5s;

            }

            img:hover {

                height: 50px;

            }

        }

    }

    #contacts {


        .contact {

            margin: 0 8px;
            display: inline-block;

        }

    }

    #projects {

        margin: 0 10%;

        .project {

            background: #313131;
            padding-bottom: 20px;
            margin: 10px 10px;
            display: inline-block;
            width: 40%;

        }

    }

}